<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
<resultMap type="com.spring.biz.vo.BoardVO" id="board">
		<result column="BOARD_TITLE" 		property="boardTitle"/>
		<result column="BOARD_CONTENT" 		property="boardContent"/>
		<result column="BOARD_WRITER" 		property="boardWriter"/>
		<result column="BOARD_DATE" 		property="boardDate"/>
	
	</resultMap>
	
	<insert id="insertBoard">
		INSERT INTO SPRING_BOARD (
			BOARD_TITLE
			, BOARD_CONTENT
			, BOARD_WRITER
		) VALUES (
			#{boardTitle}
			, #{boardContent}
			, #{boardWriter}
		)
	</insert>
	
	<select id="selectBoardList" resultMap="board">
		SELECT BOARD_TITLE
			, BOARD_WRITER
			, TO_CHAR(BOARD_DATE, 'YYYY-MM-DD') AS BOARD_DATE
		FROM SPRING_BOARD
		<if test="searchValue != null and searchValue != ''">
		WHERE UPPER(${searchKeyword}) LIKE '%'||UPPER(#{searchValue})||'%'
		</if>
	</select>
	
	<select id="selectBoard" resultMap="board">
		SELECT BOARD_TITLE
			, BOARD_CONTENT
			, BOARD_WRITER
			, TO_CHAR(BOARD_DATE, 'YYYY-MM-DD') AS BOARD_DATE
		FROM SPRING_BOARD
		WHERE BOARD_TITLE = #{boardTitle}
	</select>
	
	<select id="selectBoard2" resultMap="board">
		SELECT BOARD_TITLE
			, BOARD_CONTENT
			, BOARD_WRITER
			, TO_CHAR(BOARD_DATE, 'YYYY-MM-DD') AS BOARD_DATE
		FROM SPRING_BOARD
		WHERE BOARD_TITLE = #{boardTitle}
	</select>
	
	<delete id="deleteBoard">
		DELETE SPRING_BOARD
		WHERE BOARD_TITLE = #{boardTitle}
	</delete>
	
	<update id="updateBoard">
		UPDATE SPRING_BOARD
		SET BOARD_CONTENT = #{boardContent}
			, BOARD_WRITER = #{boardWriter}
		WHERE BOARD_TITLE = #{boardTitle}
	</update>
</mapper>











