@charset "UTF-8";
table {
	width:300px;
	border: 1px solid black;
}

tr, td{
	border: 1px solid black;
	text-align: center;
	color: lime;
}

#mainContainer{
	width: 1000px;
		
}
input[type="text"]{
	text-align: center;
}

#addr{
	background: skyblue;
}

#cardinalty{
	background: orange;
}