<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 맵퍼파일 생성 후 반드시 sql-map-config.xml 파일에 mapper 등록해줘야 함 -->
<mapper namespace="gradeMapper">
	<resultMap type="com.spring.biz.vo.GradeVO" id="grade">
		<result column="GRADE_CODE" 	property="gradeCode"/>
		<result column="STU_NUM" 		property="stuNum"/>
		<result column="KOR_SCORE" 		property="korScore"/>
		<result column="MATH_SCORE" 	property="mathScore"/>
		<result column="ENG_SCORE" 		property="engScore"/>
	</resultMap>
	
	<select id="selectGrade" resultMap="grade">
		SELECT GRADE_CODE
			, STU_NUM
			, KOR_SCORE
			, MATH_SCORE
			, ENG_SCORE
		FROM GRADE_INFO
		WHERE STU_NUM = #{stuNum}
	</select>
	
	<insert id="insertGrade">
		INSERT INTO GRADE_INFO(
            GRADE_CODE
            , STU_NUM
            , KOR_SCORE
            , ENG_SCORE
            , MATH_SCORE
            )VALUES(
            #{stuNum}
            , #{stuNum}
            , #{korScore}
            , #{engScore}
            , #{mathScore}
            )
	</insert>
	
	<update id="updateGrade">
		UPDATE GRADE_INFO
		SET KOR_SCORE = #{korScore}
		, ENG_SCORE = #{engScore}
		, MATH_SCORE = #{mathScore}
		WHERE STU_NUM = #{stuNum}
	</update>
	
</mapper>
















